.context-viewer {
  display: none;

  pre {
    background-color: #444;
    color: #ddd;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 0 2rem;
    box-shadow: inset 0 0 1rem 0 #000;
    outline: 1px solid #6b6b6b;
    outline-offset: -2px;
  }
}
